obj
bin
.vs
.tye
tools
_ReSharper.Caches
/dotnet.csproj.tar.gz
*.user
/output
downloads
plugins
packages
cache
lib
/.sonarqube
/src/StoneAssemblies.MassAuth.Tests/TestResults
/src/StoneAssemblies.MassAuth.Tests/coverage.opencover.xml
/src/StoneAssemblies.MassAuth.Tests/TestResults.trx
